# Git ignore file for vtb-verein

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# SQLite database
verein.db

# OS / IDE
.DS_Store
.idea/
.vscode/
vtb_verein/.nicegui/storage-user-26df86a4-0c52-470d-a329-e51605c85bce.json
.gitignore
vtb_verein/.nicegui/storage-user-de0f00ff-8c9b-4eec-9e74-3e448c8fa52c.json
vtb_verein/.nicegui/storage-user-ff14ff85-fb5c-4d7d-902a-6287390f4a6f.json
